$primary-color: #deff00;

$aqua-100: #70D0D9;
$aqua-300: #318AA0;
$aqua-500: #1A5C80;

$solar-100: #FFBA4A;
$solar-300: #FF7A1C;
$solar-500: #C74254;

$space-100: #A3C2FF;
$space-300: #464DF9;
$space-500: #0D2EA6;

$terrain-100: #8ADEAB;
$terrain-300: #00AA50;
$terrain-500: #006E4A;

$atmosphere: #010613;

$clear: #FFFEFF;

@font-face {
  font-family: 'Neuro';
  src: url('./fonts/F37Neuro-Regular.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Osiris';
  src: url('/fonts/Osiris.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Neuro' !important;
  font-weight: 300;
  color: $clear;
  background: $atmosphere;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  padding-bottom: 5vw;
}

h1 {
  font-family: Osiris; 
  font-size: 4.8vw;
  line-height: 0.85;
} 

h2, h3, h4, h5, p, button {
  font-family: 'Neuro' !important; 
} 

h2{
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-size: 2vw;
}

p{
  font-size: 26px;
  line-height: 1.25;
}

.header p{
  padding: 2vw 0;
}

button{
  border: 2px $clear solid;
  background: transparent;
  color: $clear;
  border-radius: 100px;
  padding: 00.5vw 2vw;
}

button:hover{
  background: $clear;
  color: $atmosphere;
}

main{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50vh;
  flex-direction: column;
  width: calc(100vw - 15vw);
}

.header{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  max-width: 50%;
}

.figures{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; 
  min-width: 100%;
}

.figures .item{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1vw;
}

.figures .item h2{
  letter-spacing: 0.3vw;
    font-size: 1vw;

}

.figures .item .figure{
  font-family:  Osiris !important;
  font-size: 4vw;
}

.main-grid{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%; 
  min-width: 100%;
  row-gap: 2vw
}

.main-grid .item{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0.5vw;
  width: calc(100% - 2vw);
  border: 2px $clear solid;
  border-radius: 34px;
}

.main-grid .item img{
  width: 100%;
  height: 25vw;
  border-radius: 25px;
}

.main-grid .item .info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 1.5vw ;
  gap: 1.5vw;

}

.main-grid .item .info p{
  font-size: 18px;
}